# Loại bỏ tất cả
*

# Giữ lại file .gitignore
!.gitignore

# Giữ lại thư mục Scripts và toàn bộ nội dung
!Assets/
!Assets/Assets
!Assets/Assets/Scripts/
!Assets/Assets/Scripts/**
!Assets/Assets/Scripts/**/*.meta